<div class="container">
  <h1 style="font-family: fantasy;text-align: center;">
    Welcome to IR system developed by "RunTimeTerror"!!
  </h1>
  &nbsp;&nbsp;&nbsp;&nbsp;
    <div id="loading" >
      <h3 style="font-family: fantasy;">Before proceeding further,let us know about U!!!</h3>
      <input type="text" matInput placeholder="Please introduce yourself!" name="user"  [(ngModel)]="user">
             <!-- [routerLink]="['search']" -->
             &nbsp; &nbsp;
             <div>
              <button  (click)="searchUINav()">Let's Go!!!</button >
             </div>
     
  </div>

  </div>
